
:root {
    --font-family: 'Josefin Sans', sans-serif;
    --White:#fff;
    --DesaturatedRed: hsl(0, 36%, 70%);
    --SoftRed: hsl(0, 93%, 68%);
    --DarkGrayishRed: hsl(0, 6%, 24%);
  }
  
  *,
  ::before,
  ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;border:none;
    font-family: var(--font-family);

}



.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    
}
.content{
    
    /* background-color: var(--SoftRed); */
    background-image: url("/images/bg-pattern-desktop.svg"),url("/images/bg-pattern-desktop.svg");
    background-repeat: repeat,repeat;
    background-size: contain,contain;
    /* background-size: 973px 960px, 1150px 1210px;
    background-position: -168px -390px, 200px 300px; */
    padding: 0 10rem;

}
.img-logo img{
    padding:3rem 0;
}
.img-hero-mobile img{
    padding-bottom: 2rem;
    display: none;
}
.text-content{
    margin-top: 10rem;
    
    
}
.text-content h1{
    text-transform: uppercase;
    font-size: 4rem;
    letter-spacing: 1rem;
    padding-bottom: 2rem;
    font-weight: 300;
    color: var(--DesaturatedRed);
    
}
.text-content h1>span{
    color: var(--DarkGrayishRed);
    font-weight: 700;
    
}
.text-content p{
    font-size: 1.2rem;
    font-weight: 300;
    width: 35rem;
    padding-right: 8rem;
    line-height: 1.5rem;
    color: var(--DesaturatedRed);
    padding-bottom: 2rem;
}

/* .classForm{
    display: flex;
    align-items: center;
    justify-content: center;
} */

.input-container {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
    
  }



.btn{

    margin-top: 1.5rem;
    margin-left: -5rem;
    width: 5rem;
    text-align: center;
    text-decoration: none;
    padding: 11px;
    background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));   
   
    color: var(--White);
    border-radius: 40px;
    cursor: pointer;
    border: 1px solid hsl(0, 74%, 74%);
    /* box-shadow: 0 5px 5px 2px rgba(0, 0, 0, 0.301); */
  }

  .inputText{
    
    margin-top: 1.5rem;
    /* margin-right: 1rem; */
    width: 25rem;
    padding: 15px;
    background-color: var(--White);
    color: var(--DarkGrayishRed);
    border: 1px solid var(--DarkGrayishRed);
    border-radius: 40px;
    
}
.email_err{
    color:var(--DesaturatedRed);
    padding-left: 2rem;
    font-style: italic;
} 
.error-img{
    position: relative;
    top: 2rem;
    right: 7rem;
}
.hide{
    display: none;
}








 /*media querie*/
 @media(max-width:1195px){
    
    html{
        overflow-x: hidden;
    }
   

    .card-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        /* padding: 8rem; */
        /* text-align: center; */

        /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); */
        
    }

   

    .img-content{
        display: none;
    }

    .img-hero-mobile{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .img-hero-mobile img{
        padding-bottom: 2rem;
        width: 70%;
        display: block;
    }

    .text-content p{
        font-size: 1rem;
        font-weight: 300;
        width: 35rem;
        margin: 1rem;
        padding: 2rem;
        line-height: 1.5rem;
        color: var(--DesaturatedRed);
        padding-bottom: 2rem;
    }

    .text-content{
        margin-top: 10rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        
        
    }
    .input-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center; 
    }
    .email_err{
        color:var(--DesaturatedRed);
        padding-left: 5rem;
        font-style: italic;
    } 
    .error-img{
        position: relative;
        top: 1rem;
        right: 7rem;
    }
   
    .img-logo{
        padding: 0 5rem;
    }

   
    
   
     
   
}

@media(max-width:920px){

    html{
        font-size: 70%;
    }  
    
    
    
    

    .text-content p{
        width: 25rem;
        
        
        
    }
    .inputText{
       width: 20rem; 
    } 

   
}